#Title{
    background-color: #00bfFF;
    padding: 1%;
    font-family: 'Courier New', monospace;
    border-bottom: 2px solid black;
}

#Title h1{
    text-align: center;
}

#form{
    text-align: center;
    box-shadow: 0 1.4rem 8rem rgb(0,0,0,.2);
    margin-left: 20%;
    margin-right: 20%;
    border: 1px black;
    border-style: dashed;
}

#breed_guide{
    background-color: lightblue;
    color: white;
    margin-left: 20%;
    margin-right: 25%;
    padding-left: 5%;
    padding-bottom: 5%;
}

#breedImage{
    height: 200px;
    width: 200px;
}

#closeBreedGuideButton{
    margin-left: 95%;
}

#height{
    display: inline-block;
}

#height_guide{
    background-color: lightblue;
    color: white;
    margin-left: 20%;
    margin-right: 15%;
    padding-left: 5%;
    padding-bottom: 5%;
}

#heightGuideImage{
    height:200px;
    width:400px;
    margin-left: 10%;
}

#closeHeightGuideButton{
    margin-left: 95%;
}

/*#submitButton{
    margin-top: 55%;
    margin-bottom: 5%;
}*/

