#Title{
    background-color: #00bfFF;
    padding: 1%;
    font-family: 'Courier New', monospace;
    border-bottom: 2px solid black;
}

#titleName{
    text-align: center;
}

#FPDEnterDetailsBadge{
    color: white;
    margin-left: 55%;
    border-radius: 25px;
    box-shadow: 0 1.4rem 8rem rgb(0,0,0,.2);
}

#FPDForm{
    text-align: center;
    box-shadow: 0 1.4rem 8rem rgb(0,0,0,.2);
    margin-left: 25%;
    border: 1px black;
    border-style: dashed;
    border-radius: 15px;
    background-color: white;
    width: 110%;
    margin-top: 5%;
}

#FPDStatusLabel{
    margin-top: 5%;
    margin-right: 2%;
    margin-left: -10%;
    display: inline;
}

#FPDStatusOption{
    width: 60%;
    display: inline;
    text-align: center;
}

#FPDTypeLabel{
    margin-top: 5%;
    margin-right: 3%;
    margin-left: -9%;
    display: inline;
}

#FPDTypeOption{
    width: 60%;
    display: inline;
    text-align: center;
}

#FPDOtherTypeLabel{
    margin-top: 5%;
    display: inline;
    margin-left: -10%;
}

#FPDOtherTypeControl{
    width: 60%;
    display: inline;
    text-align: center;
}

#FPDBreedLabel{
    margin-top: 5%;
    margin-right: 2%;
    margin-left: -1%;
    display: inline;
}

#FPDBreedOption{
    width: 60%;
    display: inline;
    text-align: center;
}

#FPDBreedHelpButton{
    margin-left: 5%;
}

#FPDBreedModalHeader{
    background-color: #00bfFF;
}

#FPDBreedModalTitle{
    text-align: center;
    color: white;
}

#FPDBreedCardBody{
    background: gray;
    height: auto;
}

#FPDBreedCardImg{
    height: auto;
    margin-bottom: 7%;
}

#FPDBreedCardImgInput2{
    margin-bottom: 5%;
    margin-left: 2%;
}

#FPDBreedCardImgInput{
    margin-left: 25%;
}

#FPDBreedResults{
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 2%;
    background-color: white;
}

#FPDBreedModalFooter{
    margin-top: 5%;
    background-color: #00bfFF;
}

#FPDHeightLabel{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 2%;
    display: inline;
}

#FPDHeightControl{
    width: 60%;
    display: inline;
    text-align: center;
}

#FPDHeightLabelcm{
    margin-top: 5%;
    margin-right: 2%;
    display: inline;
}

#FPDHeightHelpButton{
    margin-left: 2%;
}

#FPDColourLabel{
    margin-top: 5%;
    margin-left: -12%;
    margin-right: 2%;
    display: inline;
}

#FPDColourOption{
    width: 60%;
    display: inline;
    text-align: center;
}

#FPDNeuturedLabel{
    margin-top: 5%;
    margin-right: 2%;
    margin-left: -15%;
    font-size: small;
    display: inline;
}

#FPDNeuturedOption{
    width: 60%;
    display: inline;
    text-align: center;
}

#FPDFileUploadLabel{
    margin-top: 5%;
    margin-right: 3%;
    margin-left: -17%;
    display: inline;
}

#FPDFileUpload{
    width: 60%;
    display: inline;
    text-align: center;
}

#FPDOpenGoogleMap{
    margin-left: 4%;
}

#FPDSubmitButton{
    margin-top: 3%;
    margin-bottom: 2%;
}

#breed_guide{
    background-color: lightblue;
    color: white;
    margin-left: 20%;
    margin-right: 25%;
    padding-left: 5%;
    padding-bottom: 5%;
}

#breedImage{
    height: 200px;
    width: 200px;
}

#closeBreedGuideButton{
    margin-left: 95%;
}

#height{
    display: inline-block;
}

#FPDHeightModal{
    margin-top: 15%;
}

#FPDHeightModalHeader{
    background-color: #00bfFF;
}

#FPDHeightModalTitle{
    text-align: center;
    color: white;
}

#FPDHeightModalImage{
    height: 100%;
    width: 100%;
}

#FPDHeightModalFooter{
    background-color: #00bfFF;
}

#heightGuideImage{
    height:200px;
    width:400px;
    margin-left: 10%;
}

#closeHeightGuideButton{
    margin-left: 95%;
}



#FPDPrototypeColumn{
    margin-left: 13%;
}

#FPDPrototypeCard{
    margin-top: 5%;
    width: 100%;
    border-radius: 25px;
}

#FPDPrototypeBadge{
    box-shadow: 0 1.4rem 8rem rgb(0,0,0,.2);
    color: white;
    margin-left: 12%;
    border-radius: 25px;
}

#FPDPrototypeCardHeader{
    text-align: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#FPDPrototypePoster{
    opacity: 0.5%;
    text-align: center;
}

#FPDPrototypeImage{
    border: 1px solid black;
    margin-right: auto;
    margin-left: auto;
    height: 30vh;
    width: 20vw;
    border-radius: 25px;
}

#FPDPrototypeType{
    display: inline;
}

#FPDPrototypeDogBreed{
    display: inline;
}

#FPDPrototypeHeight{
    display: inline;
}

#FPDPrototypeColour{
    display: inline;
}

#FPDPrototypeNeutered{
    display: inline;
}

#FPDPrototypeAddress{
    display: inline;
}